   <%- include("../partials/blogs-header") %>


<main>
    <div class="container mt-5">
        <div class="container-fluid alert alert-secondary">
            <h1>Blogs</h1>
            <span>This blogs section is a demonstration of CRUD operations linking frontend to the MongoDB backend with basic insert, read, update and delete operations.</span>
        </div>

    <% blogs.forEach(blog => { %>
        <div class="container-fluid alert alert-success">
            <a href="/blogs/<%= blog._id %>">
                <p><%= blog.title %> by <%= blog.name %></p></a>
            <p><%= blog.body.substring(0,100) %>...</p> 
        </div>
        
    <% }) %>

    <a href="/blogs/new" class="btn btn-primary">
        New Blog
    </a>
</div>
</main>




   <%- include("../partials/blogs-footer") %>