<%- include("../partials/header") %>


<section class="blogs section">


    <div class="container grid">
        <a href="/blogs/">

            <p class=""><i class="uil uil-angle-left"></i> Go Back</p>
        </a>
        <h1><%= blog.title %></h1>
        <p>By <%= blog.name %></p>
        <p><%= blog.body %></p>

        <div class="flex">
            <a href="/blogs/<%= blog._id %>/edit">
                <button class="">Edit</button>
            </a>
            <form action="/blogs/<%= blog._id %>?_method=delete" method="POST">
                <button>Delete</button>
            </form>
        </div>
    </div>
</section>


<%- include("../partials/footer") %>